@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-black: #131313;
  --color-black-15: #15151E;
  --scuderia-ferrari-red: #EF1A2D;
  --scuderia-ferrari-gradient: linear-gradient(180deg, var(--scuderia-ferrari-red) 0%, rgba(128, 0, 0, 1) 100%);
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
  --font-family-base: "Exo 2", sans-serif;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
}

main {
  background: var(--scuderia-ferrari-gradient);
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 h6,
.h6 {
  color: var(--color-light);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 500;
}

h4, .h4,
h5, .h5 h6,
.h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  background-color: var(--color-light);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.win {
  padding-block: 1.875rem;
}
.win__card {
  padding: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  border-radius: 0.5rem;
  background-color: var(--color-light);
}
.win__card-title {
  color: var(--color-black);
  text-align: center;
  font-size: clamp(1rem, 0.4901960784rem + 2.091503268vw, 3rem);
}

.stopwatch {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stopwatch__segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stopwatch__value {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
  font-weight: 800;
}

.team {
  padding-block: 1.875rem;
}
.team__inner {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.team__cards {
  display: flex;
  justify-content: space-around;
}
@media (width <= 63.99875rem) {
  .team__cards {
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  }
}
.team__card {
  background-color: var(--color-light);
  padding: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.375rem, 0.3112745098rem + 0.2614379085vw, 0.625rem);
}
.team__card-photo {
  border-radius: 0.5rem;
}
.team__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team__card-name {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.3088235294rem + 0.7843137255vw, 2.25rem);
  color: var(--color-black);
}
.team__card-country {
  width: 2.8125rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--color-black);
}
.team__card-stats {
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;
}
.team__card-stat-label {
  color: var(--color-black);
  font-weight: 700;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.team__card-stat-value {
  font-weight: 500;
  font-size: clamp(0.75rem, 0.6544117647rem + 0.3921568627vw, 1.125rem);
}
.team__card-stat--last-win {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: var(--color-black-15);
  color: var(--color-light);
  padding-block: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
  text-align: center;
}
.footer__text {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.footer__link {
  text-decoration: underline !important;
  text-underline-offset: 0.1em;
}
.footer__link:hover {
  text-decoration: none !important;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (width <= 47.99875rem) {
  .footer__inner {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer__logo {
  filter: invert(1);
}
.footer__soc1al {
  display: flex;
  column-gap: 1.25rem;
}
.footer__soc1al-item {
  transition-duration: var(--transition-duration);
}
.footer__soc1al-item:hover {
  filter: brightness(0.6);
}
@media (width <= 47.99875rem) {
  .footer__soc1al-link img {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.logo {
  width: 6.25rem;
  height: 6.25rem;
}
@media (width <= 47.99875rem) {
  .logo {
    width: 5rem;
    height: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
